*{
    font-family: 'Montserrat', serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: black;
}



.sidebar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100vh;
    background-color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    outline: solid 3px black;
    padding: 30px 20px;
    white-space: nowrap;
}

.sidebar.close {
    width: 100px;
}
.sidebar.close .header-text,
.sidebar.close .menu-text {
    opacity: 0;
}

.header {
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    line-height: 50px;
    align-items: center;
    vertical-align:middle;
}

nav .header .logo-image {
    display: flex;
    float: left;
    width: 65px;
    margin-right: 25px ;

}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .header .header-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    opacity: 1;
}


.expand-toggle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -32px;
    border-radius: 50px;
    background-color: grey;
    height: 25px;
    width: 25px;
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

.sidebar.close .expand-toggle {
    transform: rotate(0deg);
}
.menubar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease;
}


.menu {
    height: 50px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    transition: all 0.4s ease;

}

.menu:hover {
    background-color: grey;
}

.menu-link {
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
}


.menu-link .icon {
    min-width: 60px;
    align-items: center;
    justify-content: center;
    float: left;
    display: flex;
    font-size: 30px;
    margin-right: 10px;
}

.menu-link .menu-text {
    font-size: 20px;
    display: flex;
    opacity: 1;
}
.searchbar {
    background-color: grey;
    border-radius: 10px;
    transition-delay: 0.5s;
    transition: all ease 0.5s;
}

.searchbar input{
    height: 100%;
    width: 100%;
    outline: none;
    border:none;
    background-color: grey;
}

.help {
    transition-delay: 2s;
    transition: all ease 0.5s;
}


#map {
    position: absolute;
    display: inline;
    width: 100%;
    height: 100vh;
    background-color: black;
}


.weather {
    position: fixed;
    top: 10px;
    right: 10px;

    width: 375px;
    height: 90px;
    background-color: white;
    font-size: 1.3rem;
    border-radius: 2rem;
    border: 2px solid black;
}

.weather-right {
    position: fixed;
    display: inline-block;
    width: 52%;
}

.weather-left {
    position: relative;
    margin-top: 17.25px;
    display: inline-block;
    width: 45%;
}
.weather_desc {
    font-size: 1rem;
    margin: 0 auto;
    display: block;
}

.weather-details {
    margin-top: 9px;
}

#weather_icon {
    float: left;
    margin-top: 14px;
    margin-right: 17px;
    margin-left: 10px;
    font-size: 3.5rem;
}

.datetime {
    position: relative;
    margin: 0 auto;
    width: 100%;
    font-size: 1.3rem;
}

#date {
    text-align: center;
    display: block;
    font-size: 1rem;
    margin: 0 auto;
}

#time {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 1.75rem;
}

.jp_head {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.journey_planner_menu .icon {
    min-width: 80px;
    align-items: center;
    justify-content: center;
    float: left;
    display: flex;
    font-size: 1rem;
    margin-right: 10px;
    height: 50px;
    color: white;
    background-color: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.journey_planner_menu .searchbar input{
    background-color: white;
}

.journey_planner_menu .searchbar{
    background-color: white;
    margin-top: 0;
    border: solid 2px black;
}

.journey_planner_menu .menu {
    margin:15px 0;
}

.journey_planner_menu .menu-text {
    font-size: 1rem;
}

.submit_journey {
    width: 100%;
    text-align: center;
}
.submit_button {
    font-size: 1.2rem;
    background-color: white;
    border: solid 2.5px black;
    border-radius: 50px;
    width: 150px;
    height: 50px;
}

.submit_button:hover {
    background-color: black;
    color: white;
}

.datetimejourney {
    position: relative;
    margin: 0 auto;
}

.menubar.close {
    display: none;
}

.journey_planner_menu.close {
    animation: forwards;
    display: none;
}

.dropdown-container {
    position: relative;
    width: 100%;
    max-height: 200px; /* Adjust the height as needed */
    overflow-y: auto;
    margin-bottom: 15px;
  }
  
  .dropdown-container select {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
  }
  


.availability_icon {
    font-size: 2rem;
}

.from, .to, .time {
    border: solid 3px black;
    border-radius: 7px;
    margin-top: 10px;
}

.journey_planner_info .heading {
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    padding: 15px;
    font-size: 1.1rem;
}

.station_name {
    font-size: 1.1rem;
    text-align: center;
}
.journey_planner_info{
    
    color: black;
    height: 50px;
    text-align: center;
    padding: 15px;
    font-size: 1.1rem;
}

